<h1>Genres#show</h1>
<p>Find me in app/views/genres/show.html.erb</p>

<!-- create a loop to show all the books associated with this genre -->
<h2>Books</h2>
<ul>
  <% @genre.books.each do |book| %>
    <li><%= book.name %></li>
  <% end %>
</ul>

<!-- link to create a new book -->





