<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<% byebug %>
<h1> Your order number is <%= @order.id %> </h1>
<h3> Subtotal: <%= @order.subtotal %> </h3>
<h3> Tax: <%= @order.tax %> </h3>
<h3> Total: <%= @order.total %> </h3>