<%#  %>
<% @books.each do |book| %>
<div class="card" style="width: 18rem;">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-body">
    <h5 class="card-title"><%= book.name %></h5>
    <img src="<%= book.image_url %>"/>
    <p class="card-text"><%= book.author %></p>
    <h6>$<%= book.price %></h6>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<% end %>